.DS_STORE
mhri.key
nbactions.xml
nb-configuration.xml
/target
MHRI/application
MHRI/database
MHRI/felix-cache
MHRI/logs
MHRI/PATH
/modules/mhri-application-api/target/
/modules/mhri-application-impl/target/
/modules/mhri-directorywatch-api/target/
/modules/mhri-directorywatch-impl/target/
/modules/mhri-gui/target/
/modules/mhri-ingestclient-api/target/
/modules/mhri-ingestclient-impl/target/
/modules/mhri-util/target/
/modules/mhri-updater/target/
/modules/mhri-logsender/target/
/doc/website/downloads
